<!DOCTYPE html>
<html>
  <head>
    <title>Ginlun36418</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/699546f53a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to "⭐️銀座ランチ⭐️", root_path,class: :logo %> 
          </div>
         

          <% if user_signed_in? %>
            <div class="nav__right"> 
              <%= link_to "新規投稿", new_eat_path, class: :nav__btn %>
              <%= link_to "ログアウト", destroy_user_session_path, class: :nav__btn, method: :delete %>
               <%= "#{current_user.nickname}さん"%>
            </div>
           <% else %>
            <div class="nav__right">
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
            </div>
          <% end %>
          
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
    </footer>
  </body>
</html>
